@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

*{
  box-sizing: border-box;
}
html, body{
    font: 16px/26px "Raleway", sans-serif !important;
    font-weight: bold;
    height: 100%;
    max-width: 100%;
}

/*html body{
    font: 16px/26px 'Berkshire Swash', Helvetica, sans-serif;
    font-weight: bold;
    color: #000 !important;
}*/

/* --Navbar-- */
.my-brand {
  font: 400 36px/1.3 'Lobster Two', Helvetica, sans-serif;
  font-weight: bold;
 
}

.my-toggle-icon{
	background-image: url(../img/threelines.png) !important;
	width: 35px !important;
}

.my-toggler{
	border-color:#fff !important;
}

.my-nav a:hover{
  border-bottom: 3px solid;
}

/* --Main Content-- */
.main-content{
  margin-top: 64px;
}


.venue-img{
  max-width: 100%;
}

.venue-des{
  text-align: center;
}

.form-container{
  margin-top: 48px;

}
.form-child{
  width: 80% !important;
  text-align: center;
  background:url('../img/team-india.jpg');
  background-size: cover;
  padding-bottom: 8px;
  color: white;
}

.time-input{
  width: 70% !important;
}

.btn-red{
  background: linear-gradient(#f63d3c, #da0016) !important;
  font-weight: 900 !important;
}

.btn-grn{
  background: linear-gradient(#82f57f, #00c426) !important;
  font-weight: 900 !important;
}

.btn-primary{
  background: linear-gradient(#00d2ff, #3a7bd5) !important;
}

.no-person { 
    text-align: center; 
}

label{
  display: block!important;
  color: #a7a4a4;
}


/* --Footer-- */
.footer{
  margin-top: 48px;
  text-align: center;
  min-height: 128px;
  background:linear-gradient(transparent,#494747,#696666);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
